<% provide(:title, "Home") %>
<div class="home">
  <div class="container">
    <div class="row">
      <% @pgroups.each do |pgroup| %>
          <div class="col-sm-6 col-md-4 col-lg-4 mt-4">
              <div class="card">
                <%= link_to product_group_path(pgroup.id) do%>
                  <img class="card-img-top" src="<%= pgroup.pg_img %>">
                <% end %>
                  <div class="card-block">
                    <%= hidden_field_tag 'pg_id', pgroup.id %>
                    <%= link_to product_group_path(pgroup.id) do%>
                      <h5 class="card-title"><%= pgroup.pg_name %></h5>
                    <% end %>
                  </div>
              </div>
          </div>
      <% end %>
    </div>
  </div>
</div>